<template>
  <div id="app">
    <form>
      <input v-model="email" placeholder="email" required />
      <input v-model="password" placeholder="password" required />
      <button @click.prevent="sendPost()">Login</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  name:"LoginVue",

  data: function() {
    return {  
      email: "",
      password: "",
    };
  },

  methods: {
    sendPost() {
      const postData = {email: this.email,password:this.password };
      axios.post("http://localhost:3000/api/login", postData)
        .then(res => {
          console.log(res.email);
        });
    }
  }
};
</script>