<template>
    <div>
<h1>Add user</h1>

<form>
      <input v-model="user_name" placeholder="username" required />
      <input v-model="full_name" placeholder="fullname" required />
      <input v-model="password" placeholder="password" required />
      <button @click.prevent="sendPost()">Register</button>
    </form>

    </div>
</template>

<script>
import axios from 'axios';
    export default {
        data: function() {
    return {
      
      user_name: "",
      full_name: "",
      password: "",
    };
  },

  methods: {
    sendPost() {
      const postData = { user_name: this.user_name, full_name: this.full_name,password:this.password };
      axios.post("http://localhost:5000/api/user", postData)
        .then(res => {
          console.log(res.full_name);
        });
    }
  }
    }
</script>

<style scoped>

</style>