<template>
    <div>
        <h1> Users </h1>

        <button @click="getUsers">Get users</button> <br />

        <div class="users" v-for="user in users" :key="user.id">
            <h2>user Name{{ user.user_name }}</h2>
            <p>{{ user.email }}</p>
        </div>



        <table>
            <tr>
                <th> </th>
                <th>Contact</th>
                <th>Country</th>
            </tr>
        </table>
    </div>
</template>

<script>
import axios from 'axios';
export default {
    name: "ViewUser",
    data() {
        return {
            users: []
        };
    },
    methods: {
        async getUsers() {
            try {
                const users = await axios.get(
                    "http://localhost:5000/api/users"
                );

                this.users = users.data;
                console.log("data", users);
            } catch (e) {
                console.log(e);
            }
        },
    },
}
</script>

<style scoped>
</style>