<template>
  <img alt="Vue logo" src="./assets/logo.png">
  
  <RegisterVue />
  <hr>
  <LoginVue />

  <hr>
  <hr>
  <hr>

  <UserAdd />
  <ViewUser />
</template>

<script>
import RegisterVue from './components/Register.vue'
import LoginVue from './components/Login.vue'
import UserAdd from './components/UserAdd.vue'
import ViewUser from './components/View.vue'

export default {
  name: 'App',
  components: {
    RegisterVue,
    LoginVue,
    UserAdd,
    ViewUser

  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
